<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Trade.io</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <a class="nav-link " aria-current="page" href="{% url 'holdings' %}">Holdings</a> -->
        <!-- <a class="nav-link " aria-current="page" href="{% url 'place_order' %}">Place Order</a> -->
        <a class="nav-link " aria-current="page" href="{% url 'trade' %}">Trade</a>
        <a class="nav-link " aria-current="page" href="{% url 'order_page' %}">History</a>
        <a class="nav-link " aria-current="page" href="{% url 'analytics' %}">Analytics</a>
      </ul>
      <!-- <div>
        <a class="nav-link text-white" aria-current="page" href="#">{{ user.name }}</a>
      </div> -->
    </div>
  </div>
</nav>